<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
        integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
        crossorigin="anonymous"></script>
    {% load static %}
    <title>Document</title>
    <script>
        $(document).ready(function () {
            $('.item_li').on('click', event => {
                $(event.currentTarget).siblings('span').fadeToggle().removeAttr('hidden')
            })
            $('.del').on('click', function (e) {
                e.preventDefault();
                const item_id = $(this).data('value')  // this statement creating a variable for the value of the item_id
                $.get(`delete/${item_id}`, function (data) {   // this get request is telling the backend to run the delete function and return the data
                    $(`#li_div_${item_id}`).remove()  // this statement is telling the frontend to take the #li_div_${item_id} element, and remove it from the page
                })
            })
            
        })
    </script>
    <style>
        #wrapper {
            background: url(https://onplanners.com/sites/default/files/styles/template_fancy/public/template-images/printable-blank-checklist-template-template.png);
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: cover;
        }

        #heads {
            display: flex;
            justify-content: space-between;
        }

        h2 {
            margin: 10px 0px 0px 10px;
        }

        #container {
            display: flex;
            flex-direction: column;
            width: 800px;
            margin: auto;
        }

        .title_text {
            display: flex;
            justify-content: space-between;
        }
    </style>
</head>

<body id="wrapper">

    <div id="heads">
        <h2 class='text-primary'>Welcome, {{user.first_name}}!</h2> <a href="/logout" role="button" class="btn btn-secondary" style="margin: 10px 10px 0px 0px">Logout</a>
    </div>

    <div id="container">
        <h3 style="margin: auto;color: white;">Here are all of your current checklists:</h3>
        {% for checklist in checklists %}
        <script>
            $(document).ready(function () {

                $(function validate() {

                    $(".item_input").on('input', function () {
                        check_name(this);
                    })
                    function check_name(parent) {   //parent is a variable that is referring to .item_input. it could be any name

                        const name = $(parent).val();

                        if (name.length > 1 && name.length < 41) {
                            $(parent).siblings('.error_form').hide();
                            $(parent).parent().siblings('.submit_button').prop('disabled', false); // enables the submit button in item_form_checklist_id
                            $(parent).parent().siblings('.submit_button').prop('class', 'btn btn-outline-primary btn-sm submit_button'); // changes the styling of the button
                            $(parent).css("border", "2px solid #34F458"); // changing the border to green
                        }
                        else {
                            $(parent).siblings('.error_form').html("(The new item name must be between 2-40 characters.)");
                            $(parent).siblings('.error_form').show();
                            $(parent).parent().siblings('.submit_button').prop('disabled', true);
                            $(parent).parent().siblings('.submit_button').prop('class', 'btn bg-dark btn-sm text-light submit_button');
                            $(parent).css("border", "2px solid #F90A0A");// changing the border to red
                        }
                    }
                })
                $('#item_form_{{checklist.id}}').on('submit', function (e) {
                    e.preventDefault();
                    $.post(`new_item/{{checklist.id}}`, $(this).serialize(), function (data) {
                        const list_item = document.createElement('li')  //creates list element stored in variable list_item
                        list_item.setAttribute("style", "margin: 5px 0px 5px 10px");
                        list_item.innerHTML = data.name  // telling the HTML what data to put into the element created
                        $('#list_items_{{checklist.id}}').append(list_item) // this statement tells the HTML where to put the new element with the data
                    })
                })                
            });
        </script>
        <div id="accordion" role="tablist">
            <div class="card">
                <div class="card-header bg-primary" role="tab" id="heading{{checklist.id}}">
                    <h5 class="mb-0">
                        <a data-toggle="collapse" href="#collapse{{checklist.id}}" aria-expanded="true"
                            aria-controls="collapse{{checklist.id}}">
                            <div class="title_text">
                                <h4 class="text-white">{{checklist.title}} </h4> <a
                                    href="delete/checklist/{{checklist.id}}" role="button"><i
                                        class="bi bi-trash text-white"></i></a>
                            </div>
                        </a>
                    </h5>
                </div>

                <div id="collapse{{checklist.id}}" class="collapse" role="tabpanel" aria-labelledby="heading{{checklist.id}}">
                    <div class="card-body" style="display:flex;justify-content: space-between;">
                        <div>
                            <ul id="list_items_{{checklist.id}}">
                                {% for item in checklist.items.all %}
                                <!--this is looping through all the items in each checklist-->
                                <div style="display: flex;" id="li_div_{{item.id}}">
                                    <li style="margin: 5px 0px 5px 10px;" class="item_li"> {{item.name}} </li>
                                    <span hidden style="margin: 5px 0px 0px 5px;">
                                        <a role="button" data-value="{{item.id}}"
                                            class='btn btn-outline-danger btn-sm del'>delete</a>
                                        <!--data-value specifies value for the item_id referenced in the script, so the frontend knows which item to delete-->
                                    </span>
                                </div>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="new_item_container" style="width: 300px;padding: 0px 5px 5px 20px;margin: 5px 10px 5px 0px;">
                            <div class="card">
                                <h3 class="card-header text-primary">Add a new Item!</h3>
                                <div class="card-body">
                                    <form id="item_form_{{checklist.id}}" action="new_item/{{checklist.id}}" method="POST">
                                        <!-- form to add new_item nested in checklist accordian-->

                                        <div class="form-group">
                                            {% csrf_token %}
                                            <label for="item_input">Name of new item:</label><br>
                                            <span class="error_form text-danger"></span>
                                            <input type="text" name="name" class="item_input form-control" placeholder="motherboard, buy milk, get gas,ect......">
                                        </div>
                                        <input type="submit" value="Add item to list" class="btn bg-dark btn-sm text-light submit_button " disabled>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

        <div class="new_list_container">

        </div>
        <p></p>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            CLICK TO ADD A LIST
        </button>
        </p>
        <div class="collapse" id="collapseExample">
            <div class="card card-body">
                <form action="new" method="POST">
                    <!--form to add a new_checklist in a collapse window-->

                    <div class="form-group">
                        {% csrf_token %}
                        <label for="formGroupExampleInput">Name of new checklist:</label>
                        <input type="text" name="title" class="form-control" id="formGroupExampleInput" placeholder="Groceries, cd's, things to do,ect......">
                    </div>
                    <input type="submit" value="Add new list" class="btn btn-outline-primary btn-sm">
                </form>
            </div>
        </div>
    </div>

</body>

</html>